.headerbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    padding: 1.5em; 
    height: 6em;
    background-color: rgb(10, 186, 250);
    align-items: center; 
    justify-content: space-between;

}

.leftheader { 
  font-size: 2em;
  font-family: Sedgwick Ave Display;
  
}

.rightheader { 
  font-size: 1em; 

}

.headerbar a { 
  filter: brightness(1.5);

}

.inside { 
  /* padding: 1em; */
  height: 100%;
  padding: 0 1em 0 1em;

}

@media (min-width: 320px) and (max-width: 480px) { 
  .headerbar { 
    padding: 1.5em 0 1.5em 0;

  }

  .rightheader .inside { 
    display: none; 

  }
}