.outside { 
    position: absolute;
    top: 3em;
    bottom: 3em;
    margin: 5em;
    left: 0; 
    right: 0;
    padding: 5em;
    background-color: black;

}

.h1 { 
    text-decoration: none;
    text-align: center;
    
}

@media (min-width: 320px) and (max-width: 480px) { 
    .outside { 
        width: 100%;
        margin: 3em 0 0 0;
        bottom: 0; 

    }
}