.headerbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 1.5em;
  height: 6em;
  background-color: rgb(10, 186, 250);
  align-items: center;
  justify-content: space-between;
  background-image: url('/images/snow.svg');
  background-position: center;
  background-size: contain;

}

.leftheader {
  font-size: 2em;
  font-family: Sedgwick Ave Display;

}

.rightheader {
  font-size: 1em;

}

.headerbar a {
  filter: brightness(1.5);

}

.inside {
  height: 100%;
  padding: 0 1em 0 1em;

}

.burgerWrapper {
  display: none;

}

@media (min-width: 320px) and (max-width: 480px) {
  .burgerWrapper {
    display: block;

  }

  .menuitem {
    font-size: 3em;

  }

  .menuitemsmall {
    position: fixed;
    font-size: .75em;
    bottom: 3em;
    left: 3em;

  }

  .headerbar {
    padding: 1.5em 0 1.5em 0;

  }

  .rightheader .inside {
    display: none;

  }
}