#mobile_menu {
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }
  #mobile_menu ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
  #mobile_menu ul ul {
    display: none;
    position: absolute;
    top: 17.6625em;
    margin: 0;
    padding: 0;
  }
  #mobile_menu ul ul li {
    float: none;
    background: var(--menu);
    margin: 0 auto;
  }
  #mobile_menu ul li:hover > ul {
    display: block;
  }
  #mobile_menu ul li:hover > a {
    border-radius: 0;
  }
  #mobile_menu > ul:after {
    content: "";
    clear: both;
    display: block;
  }
  #mobile_menu ul li:hover ul {
    width: 50%;
  }
  #mobile_menu ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--menu-text);
    font-weight: bold;
    font-size: 175%;
    padding: 0.9375em;
  }
  #mobile_menu ul li a.current {
    background-color: var(--menu-current);
  }
  #mobile_menu ul li a:hover,
  #mobile_menu ul li a:focus {
    background-color: var(--menu-hover);
  }

