.footer {
  height: 4em;
  bottom: 0;
  width: 100%;

}

.footertext {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footertext>a {
  padding: 1em;
  font-size: .75em;
  color: #FEF9F3;

}

@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    margin: 2rem;
    width: auto;

  }

  .footertext {
    display: flex;
    font-size: 0.8rem;

  }

  .footertext>.link {
    display: none

  }

  .mobile {
    display: block !important

  }
}