.CenterBox {
  padding: 3em;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.CenterBox img {
  height: 50%; 
  width: 50%;
}

/* Hide game on login redirect fix */
.canvas {
  display: none

}

@media (min-width: 320px) and (max-width: 480px) { 
    .CenterBox {
      padding: 0;
      
    }
}