/* Color pallete */

:root {
    --white: #FEF9F3;
    --light-white: #f3ede6;
    --grey: #5e5a54;
    --dark-grey: #51504f;
    --red: rgb(236, 111, 70);
    --green: rgb(92, 222, 111);
    --blue: rgb(10, 186, 250)
}