/* Color pallete */

:root {
    --white: #FEF9F3;
    --light-white: #f3ede6;
    --grey: #5e5a54;
    --dark-grey: #51504f;
    --transparent-grey: rgba(94, 90, 84, 0.8);
    --red: #ec6f46;
    --green: #5cde6f;
    --blue: #0abafa;

}