html,
body {
  padding: 0;
  margin: 0;
  font-family: ABeeZee;
  background-color: #59554f;
  background-image: url('/background.png');
  background-size: cover;  
  height: 100%; 
  width: 100%; 

}

body { 
  margin: auto; 
  position: relative;
  
}

h1 { 
  color: #FEF9F3;
  text-decoration: none;

}

a, ul {
  color: #FEF9F3;
  text-decoration: none;

}

* {
  box-sizing: border-box;
  
}

#boxDisplay {
  display: flex;
  flex-direction: column;

}

#boxInside {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #5e5a54;
  margin: 2em;
  padding: 1em;
  border-radius: .5em;
  box-shadow: .4em .4em .4em .4em #51504f;

}

#boxInside a, ul { 
  font-family: sans-serif;
  color: #fff;
  margin: .8em;

}

#boxInside li {
  padding: .2em;

}

#boxInside h1{ 
  font-family: sans-serif;
  color: #fff;
  background-color: rgb(10, 186, 250);
  padding: .3em;
  margin: .3em;

}

#boxInside h2 { 
  font-family: sans-serif;
  color: #fff;
  size: 2em;
  margin: .8em;

}
