@import url('colors.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: ABeeZee;
  background-color: var(--grey);
  background-image: url('/background.png');
  background-size: cover;
  height: 100%;
  width: 100%;

}

body {
  margin: auto;
  position: relative;

}

h1 {
  color: var(--white);
  text-decoration: none;

}

a,
ul {
  color: var(--white);
  text-decoration: none;

}

* {
  box-sizing: border-box;

}

#boxDisplay, #boxOutside {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  max-width: 1000px;

}

#boxInside {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--transparent-grey);
  margin: 1em;
  padding: 1em;
  border-radius: .5em;
  box-shadow: .4em .4em .4em .4em var(--dark-grey);
  
}

#boxInside a,
ul,
ol {
  font-family: sans-serif;
  color: var(--light-white);
  margin: .8em;

}

#boxInside li {
  padding: .2em;

}

#boxInside h1 {
  font-family: sans-serif;
  color: var(--white);
  background-color: var(--blue);
  padding: .3em;
  margin: .3em;

}

#boxInside h2 {
  font-family: sans-serif;
  color: var(--white);
  font-size: 1.3em;
  margin: .8em;

}

#boxInside ol {
  size: 2rem
}


#boxInside button {
  font-family: sans-serif;
  height: 3em;
  width: 10em;
  border-radius: .5em;
  border-color: transparent;
  background-color: var(--red);
  color: var(--white);

}

#boxInside button:hover {
  background-color: var(--green);
  color: var(--white);

}

#game > canvas {
  aspect-ratio: 16/9;
  margin: 1rem; 
  width: calc(100% - 2rem); 
  box-shadow: .4em .4em .4em .4em var(--dark-grey);
  max-height: calc(100vh - 10em - 2rem);
  
}